html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Mono", monospace;
}

.welcomeText {
  font-size: 30;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #171717;
}

.input::placeholder {
  transition: color 0.2s ease-in-out;
}
