:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.welcomeText {
  font-size: 30;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #171717;
}
